<div class="p-6 max-w-3xl mx-auto">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Jogadores</h1>
    <button class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" (click)="openPlayerModal()">
      + Criar Jogador
    </button>
  </div>

  @if (players.length === 0) {
  <div class="text-gray-500">Nenhum jogador cadastrado ainda.</div>
  } @else {
    @for (player of players; track $index) {
    <ul class="space-y-4 mt-4">
      <li class="flex justify-between items-center p-4 bg-white rounded shadow">
        <div>
          <p class="text-lg font-semibold">{{ player.name }}</p>
          <p class="text-sm text-gray-500">Rating: {{ player.rating }}</p>
        </div>
      </li>
    </ul>
    }
  }

</div>