<div class="flex flex-col items-center relative">
  <div class="relative w-10 h-10 sm:w-12 sm:h-12 lg:w-14 lg:h-14">
    <img [src]="avatarUrl || 'icons/user.png'" class="w-full h-full rounded-full object-cover shadow" />
    
    <!-- ícone no canto superior esquerdo -->
    <span class="absolute -top-1 -left-1 w-4 h-4 sm:w-5 sm:h-5 bg-zinc-800 text-white text-[10px] flex items-center justify-center font-bold shadow rounded-full">
      {{ posicao }}
    </span>
  </div>
  <span class="mt-1 text-xs sm:text-sm max-w-[4.5rem] sm:max-w-[5.5rem] truncate text-white bg-black bg-opacity-50 rounded text-center px-1">
    {{ name }}
  </span>
</div>
