<div class="fixed bottom-0 left-0 right-0 bg-white shadow-lg border-t">
    <div class="container mx-auto px-4">
        <div class="flex justify-around py-3">
            <ul class="flex items-center justify-center space-x-7 sm:space-x-10 md:space-x-28 w-full">
                <li class="flex flex-col gap-1 items-center cursor-pointer" (click)="navigateTo('home')">
                    <i class="fa fa-home text-[1.7rem]" aria-hidden="true"
                        [ngClass]="{'text-blue-500': activeMenuItem === 'home'}"></i>
                    <span class="text-[9px] md:text-[16px]">Home</span>
                </li>
                <li class="flex flex-col gap-1 items-center cursor-pointer" (click)="navigateTo('jogadores')">
                    <i class="fa fa-users text-[1.7rem]" aria-hidden="true"
                        [ngClass]="{'text-blue-500': activeMenuItem === 'jogadores'}"></i>
                    <span class="text-[9px] md:text-[16px]">Jogadores</span>
                </li>
                <li class="flex flex-col gap-1 items-center cursor-pointer" (click)="navigateTo('noticias')">
                    <i class="fa fa-newspaper text-[1.7rem]" aria-hidden="true"
                        [ngClass]="{'text-blue-500': activeMenuItem === 'noticias'}"></i>
                    <span class="text-[9px] md:text-[16px]">Notícias</span>
                </li>
                <li class="flex flex-col gap-1 items-center cursor-pointer" (click)="navigateTo('faq')">
                    <i class="fa fa-question-circle text-[1.7rem]" aria-hidden="true"
                        [ngClass]="{'text-blue-500': activeMenuItem === 'faq'}"></i>
                    <span class="text-[9px] md:text-[16px]">FAQ</span>
                </li>

                <li class="flex flex-col gap-1 items-center cursor-pointer" (click)="navigateTo('config')">
                    <i class="fa fa-cog text-[1.7rem]" aria-hidden="true"
                    [ngClass]="{'text-blue-500': activeMenuItem === 'config'}"></i>
                    <span class="text-[9px] md:text-[16px]">Config</span>
                </li>
            </ul>
        </div>
    </div>
</div>