<div class="field-container">
  <img src="img/campo-futebol.jpeg" alt="Campo de Futebol" class="field-background" />

  <div class="lineup-layer goleiro">
    @for (player of groupByPosition().G; track player.id) {
      <app-player-avatar
        [name]="player.name"
        [posicao]="player.posicao"
        [avatarUrl]="player.avatarUrl ?? null" />
    }
  </div>

  <div class="lineup-layer defensores">
    @for (player of groupByPosition().D; track player.id) {
      <app-player-avatar
        [name]="player.name"
        [posicao]="player.posicao"
        [avatarUrl]="player.avatarUrl ?? null" />
    }
  </div>

  <div class="lineup-layer meio-campo">
    @for (player of groupByPosition().M; track player.id) {
      <app-player-avatar
        [name]="player.name"
        [posicao]="player.posicao"
        [avatarUrl]="player.avatarUrl ?? null" />
    }
  </div>

  <div class="lineup-layer atacantes">
    @for (player of groupByPosition().A; track player.id) {
      <app-player-avatar
        [name]="player.name"
        [posicao]="player.posicao"
        [avatarUrl]="player.avatarUrl ?? null" />
    }
  </div>
</div>
